<section id="coffejoy" class="coffeejoy">
    <div class="container">
        <div class="coffeejoy__container">
          <p class="coffeejoy__word">Quality</p>
          <h2 class="coffeejoy__title">
            Why CoffeeJoy Stands Out from the Rest
          </h2>
          <p class="coffeejoy__text">
            At CoffeeJoy, we pride ourselves on delivering the freshest roasted
            coffee, crafted with care by our skilled baristas. Our flexible
            subscription plans ensure that your coffee experience is tailored to
            your needs.
          </p>
        </div>
        <div class="coffeejoy__box">
          <ul class="coffeejoy__list">
            <li class="coffeejoy__item">
              <img
                src="./image/coffejoy/coffebeans.webp"
                alt="coffee beans"
                class="coffeejoy__img"
              />
              <h3 class="coffeejoy__subtitle">
                Fresh-Roasted Coffee for Every Taste
              </h3>
              <p class="coffeejoy__info">
                Savor the rich flavors of our expertly sourced beans.
              </p>
            </li>
            <li class="coffeejoy__item">
              <img
                src="./image/coffejoy/barista.webp"
                alt="barista"
                class="coffeejoy__img"
              />
              <h3 class="coffeejoy__subtitle">
                Expert Baristas Crafting Your Perfect Brew
              </h3>
              <p class="coffeejoy__info">
                Our baristas are passionate about coffee and skilled in their
                craft.
              </p>
            </li>
            <li class="coffeejoy__item">
              <img
                src="./image/coffejoy/interior.webp"
                alt="interior"
                class="coffeejoy__img"
              />
              <h3 class="coffeejoy__subtitle">Cozy Atmosphere</h3>
              <p class="coffeejoy__info">
                We don’t just serve coffee — we create a warm and welcoming
                space where every cup feels like home.
              </p>
            </li>
          </ul>
        </div>
      </div>
</section>