<section id="community" class="community">
  <div class="container community-container">
    <div class="community-box">
      <h2 class="community-title">Join Our Coffee Community</h2>
      <p class="community-experience">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
      <form class="community-form">
        <label class="community-label" for="">
          <input
            class="community-input"
            name="email"
            type="email"
            placeholder="Your Email Here"
            required
          />
        </label>

        <button class="community-button">Subscribe <img src="../image/community/chevrons-right.svg" alt="svg-photo"></button>
      </form>
      <p class="community-text">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
    </div>
    <img
      src="../image/community/placeholder.webp"
      alt="community photo"
      class="community-photo"
    />
  </div>
</section>
