<section id="footer" class="footer">
  <div class="container">
    <div class="footer__container">
      <a href="" class="footer__link__logo">
       <img src="./image/header/logo.webp" alt="" class="footer__logo">
      </a>
      <ul class="footer__docket">
        <li class="footer__dockets">
          <a href="" class="footer__ref">
            <img src="./image/footer/facebook.webp" alt="" class="footer__icon">
          </a>
        </li>
        <li class="footer__dockets">
          <a href="" class="footer__ref">
            <img src="./image/footer/instagram.webp" alt="" class="footer__icon">
          </a>
        </li>
        <li class="footer__dockets">
          <a href="" class="footer__ref">
            <img src="./image/footer/x.webp" alt="" class="footer__icon">
          </a>
        </li>
      </ul>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="" class="footer__link">About us</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Benefits</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Gallery</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Testimonial</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Location</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__box">
      <p class="footer__text">© 2025 CoffeeJoy. All rights reserved.</p>
      <ul class="footer__infos">
        <li class="footer__info">
          <a href="" class="footer__widget">Privacy Policy</a>
        </li>
        <li class="footer__info">
          <a href="" class="footer__widget">Terms of Service</a>
        </li>
        <li class="footer__info">
          <a href="" class="footer__widget">Cookies Settings</a>
        </li>
      </ul>
    </div>
  </div>
</section>