
<header id="header" class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-link-new"
      ><img src="./image/header/logo.webp" alt="logo" class="header-logo"
    /></a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a href="#" class="header-link">About Us</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">Benefits</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">Gallery</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">Testimonial</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
