<section id="journey" class="journey">
  <div class="container">
    <div class="journey__container">
      <div class="journey__wrapper">
        <p class="journey__word">Welcome</p>
        <h2 class="journey__title">
          Our Journey: Passion for Quality Coffee
        </h2>
      </div>
      <div class="journey__box">
        <p class="journey__text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission
          is to bring you the finest coffee experiences, crafted with care
          and dedication. We are committed to sourcing high-quality beans
          and roasting them to perfection, ensuring each sip is a delight.
        </p>
        <button class="journey__button">Find location <img class="journey__icon" src="./image/journey/map-pin.webp" alt=" icon map pin" /> </button>
      </div>
    </div>
    <img src="./image/journey/journey.webp" alt="" class="journey__img" />
  </div>
</section>