<section id="location" class="location">
  <div class="container">
    <div class="location-container">
      <div class="location-box">
        <p class="location-find">Find</p>

      <h2 class="location-title">Location</h2>
      <p class="location-title-desription">Visit us at our cozy coffee shop!</p>

      <ul class="location-list">
        <li class="location-list-item">
          <img
            src="./image/location/email.webp"
            alt="email-svg"
            class="location-list-item-svg"
          />
          <p class="location-list-item-title">email</p>
          <a href="mailto:hello@coffeejoy.com" class="location-link"
            >hello@coffeejoy.com</a
          >
        </li>
        <li class="location-list-item">
          <img
            src="./image/location/phone.webp"
            alt="phone-svg"
            class="location-list-item-svg"
          />
          <p class="location-list-item-title">phone</p>
          <a href="tel:+1(555)123-5321" class="location-link"
            >+1 (555) 123-5321</a
          >
        </li>
        <li class="location-list-item">
          <img
            src="./image/location/map.webp"
            alt="office-svg"
            class="location-list-item-svg"
          />
          <p class="location-list-item-title">office</p>
          <a
            href="https://www.bing.com/maps?&ty=18&q=23%20State%20St%2C%20Boston%2C%20MA%2002109%2C%20United%20States&mb=42.362773~-71.066941~42.356027~-71.051749&cardbg=%23F98745&dt=1748451600000&tt=23%20State%20St%2C%20Boston%2C%20MA%2002109%2C%20United%20States&tsts0=%2526ty%253D18%2526q%253D23%252520State%252520St%25252C%252520Boston%25252C%252520MA%25252002109%25252C%252520United%252520States%2526mb%253D42.362773~-71.066941~42.356027~-71.051749%2526cardbg%253D%252523F98745%2526dt%253D1748451600000&tstt0=23%20State%20St%2C%20Boston%2C%20MA%2002109%2C%20United%20States&cp=42.3594~-71.062006&lvl=17&pi=0&ftst=0&ftics=False&v=2&sV=2&form=S00027"
            class="location-link"
            >23 Sample St, Boston NY</a
          >
        </li>
      </ul>
      <button class="location-button">
        Get Directions
        <img
          src="./image/location/chevron-right.webp"
          alt="chevron to-right"
          class="location-chevron"
        />
      </button>
      </div>
      <iframe
        class="location__iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6053.349761945695!2d-73.95983030189352!3d40.65909663560605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b6a115ce57b%3A0xc1ea690586812456!2z0J_RgNC-0YHQv9C10LrRgiDQm9C10YTRhNC10YDRgtGBINCT0LDRgNC00LXQvdGBLCDQkdGA0YPQutC70LjQvSwg0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1749150763209!5m2!1sru!2sua"
        width="869px"
        height="697px"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
