<section id="location" class="location">
  <div class="container">
    <div class="location-container">
      <p class="location-find">Find</p>

      <h2 class="location-title">Location</h2>
      <p class="location-title-desription">Visit us at our cozy coffee shop!</p>

      <ul class="location-list">
        <li class="location-list-item">
          <img
            src="../image/location/email.webp"
            alt="email-svg"
            class="location-list-item-svg"
          />
          <p class="location-list-item-title">email</p>
          <p class="location-list-item-description">hello@coffeejoy.com</p>
        </li>
        <li class="location-list-item">
          <img
            src="../image/location/phone.webp"
            alt="phone-svg"
            class="location-list-item-svg"
          />
          <p class="location-list-item-title">phone</p>
          <p class="location-list-item-description">+1 (555) 123-5321</p>
        </li>
        <li class="location-list-item">
          <img
            src="../image/location/map.webp"
            alt="office-svg"
            class="location-list-item-svg"
          />
          <p class="location-list-item-title">office</p>
          <p class="location-list-item-description">23 Sample St, Boston NY</p>
          <p>Get Directions</p>
          <img
            src="../image/location/chevron-right.webp"
            alt="chevron to-right"
            class="location-chevron"
          />
        </li>
      </ul>
    </div>
    <img src="../image/location/location.webp" alt="map" class="location-map" />
  </div>
</section>
