<section id="moments" class="moments-section">
  <div class="container">
    <div class="moments-text">
    <h2 class="moments-title">Coffee MomentS</h2>
    <p class="moments-title-description">
      Experience the warmth and community of CoffeeJoy.
    </p>
    </div>
    <ul class="moments-list">
      <li class="moments-list-item">
        <img
          src="./image/moments/ceramiccup.webp"
          alt="ceramiccup"
          class="moments-item-img moments-item-img-1"
        />
      </li>
      <li class="moments-list-item">
        <img
          src="./image/moments/breakfast.webp"
          alt="breakfast"
          class="moments-item-img moments-item-img-2"
        />
      </li>
      <li class="moments-list-item">
        <img
          src="./image/moments/armchair.webp"
          alt="armchair"
          class="moments-item-img moments-item-img-3"
        />
      </li>
      <li class="moments-list-item">
        <img
          src="./image/moments/pouring.webp"
          alt="pouring"
          class="moments-item-img moments-item-img-4"
        />
      </li>
      <li class="moments-list-item">
        <img
          src="./image/moments/coffejoy.webp"
          alt="coffeejoy"
          class="moments-item-img moments-item-img-5"
        />
      </li>
      <li class="moments-list-item">
        <img
          src="./image/moments/outdoors.webp"
          alt="outdoors"
          class="moments-item-img moments-item-img-6"
        />
      </li>
      <li class="moments-list-item">
        <img
          src="./image/moments/takeaway.webp"
          alt="takeaway"
          class="moments-item-img moments-item-img-7"
        />
      </li>
    </ul>
  </div>
</section>