<section id="moments" class="moments">
  <p class="moments-title">coffee moments</p>
  <p class="moments-description">Experience the warmth and community of CoffeeJoy.</p>
  <ul class="moments-gallery">
    <li class="moments-gallery-item">
      <img src="../image/moments/ceramiccup.webp" alt="Ceramic Cup" class="moments-gallery-item-img"/>
    </li>
    <li class="moments-gallery-item">
      <img src="../image/moments/breakfast.webp" alt="Breakfast" class="moments-gallery-item-img"/>
    </li>
    <li class="moments-gallery-item">
      <img src="../image/moments/armchair.webp" alt="Armchair" class="moments-gallery-item-img"/>
    </li>
    <li class="moments-gallery-item">
      <img src="../image/moments/pouring.webp" alt="Pouring" class="moments-gallery-item-img"/>
    </li>
    <li class="moments-gallery-item">
      <img src="../image/moments/coffejoy.webp" alt="CoffeeJoy cafe" class="moments-gallery-item-img"/>
    </li>
    <li class="moments-gallery-item">
      <img src="../image/moments/outdoors.webp" alt="Outdoor caffee" class="moments-gallery-item-img"/>
    </li>
    <li class="moments-gallery-item">
      <img src="../image/moments/takeaway.webp" alt="Takeaway caffee" class="moments-gallery-item-img"/>
    </li>
  </ul>
</section>
