.footer {
  background: #b58869;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer__container {
  border-radius: var(--Radius-Large, 40px);
  border: 1px solid rgba(11, 8, 3, 0.15);
  background: #c29d84;
  display: flex;
  align-items: center;
  padding: 32px 48px;
  margin-bottom: 32px;
}
.footer__link__logo {
  margin-right: 40px;
}
.footer__logo {
  width: 84px;
  height: 36px;
}
.footer__docket {
  display: flex;
  gap: 12px;
}
.footer__dockets {
}
.footer__ref {
}
.footer__icon {
  width: 24px;
  height: 24px;
}
.footer__nav {
  margin-left: auto;
}
.footer__list {
  display: flex;
  gap: 32px;
}
.footer__item {
}
.footer__link {
  color: #0b0803;
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.footer__box {
  display: flex;
}
.footer__text {
  color: #0b0803;
  font-family: "Quicksand";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.footer__infos {
  display: flex;
  gap: 24px;
  margin-left: auto;
}
.footer__info {
}
.footer__widget {
  color: #0b0803;
  font-family: "Quicksand";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}