:root{
  --neutral-darkest-color: rgb(11, 8, 3);
  --background-color: rgb(224, 203, 180);
  --text-color: rgb(11, 8, 3);
}


.container {
  width: 1336px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
}

.location-section {
  background-color: var(--background-color);
  padding-top: 64px;
  padding-bottom: 64px;
}

.location-container {
  display: flex;
  justify-content: space-between;
} 

.location-box{
  width: 419px;
}

.location-find{
  color: var(--text-color);
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.location-title{
  color: var(--text-color);
  font-family: Aboreto;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.location-title-description{
  color: var(--text-color);
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.location-list{
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.location-list-item{
  
}

.location-item-svg{
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.location-item-title{
  color: var(--text-color);
  font-family: Aboreto;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.location-item-link{
  color: var(--text-color);
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 400;
}

.location-button{
  color: var(--neutral-darkest-color);
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  background-color: var(--background-color);
  align-items: center;
  gap: 8px;
}

.location-button-chevron{
  color: var(--neutral-darkest-color);
  width: 24px;
  height: 24px;
  display: flex;
}

.location-map-iframe{
  width: 869px;
  height: 697px;
  border-radius: 40px;
  display: flex;
}