.container {
    width: 1336px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
  }
.visitors {
    background: #e0cbb4;
    padding-top: 64px;
    padding-bottom: 64px;

  }
  .visitirs__title {
    color: #0b0803;
    font-family: "Aboreto";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
    width: 416px;
    margin-bottom: 24px;
  }
  .visitors__container {
  }
  .visitors__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .visitors__item {
    border-radius: 32px;
    border: 1px solid rgba(11, 8, 3, 0.15);
    background: #c29d84;
    padding: 32px;
    max-width: 310px;
  }
  .visitors__box {
    height: 215px;
  }
  .visitors__img {
    width: 115.999px;
    height: 18.889px;
    margin-bottom: 24px;
  }
  .visitors__info {
    color: #0b0803;
    font-family: "Quicksand";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    width: 246px;
  }
  .visitors__name {
    color: #0b0803;
    font-family: "Quicksand";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }